/*********************** Media query ***********************/

@mixin mediaQueryPc() {
    @media screen and (min-width: $pcMinWidth) {
        @content;
    }
}

@mixin mediaQueryMiddlePc() {
    @media screen and (max-width: $pcMiddleWidth) {
        @content;
    }
}

@mixin mediaQuerySp() {
    @media screen and (max-width: $spMaxWidth) {
        @content;
    }
}

@mixin mediaQuerySpSmall() {
    @media screen and (max-width: $sp-small-MaxWidth) {
        @content;
    }
}

@mixin mediaQuerySpXs() {
    @media screen and (max-width: $sp-xs-MaxWidth) {
        @content;
    }
}

@mixin mediaQuerySpXXs($sp-xxs-MaxWidth) {
    @media screen and (max-width: $sp-xxs-MaxWidth) {
        @content;
    }
}
