$bodyLineHeight: 1.6;
$bodyLetterSpacing: 0.1em;
$anchorTransition: 0.5s;
$anchorHoverTransition: 0.5s;
$main-color: #000000;
$secondary-color: #ffffff;
$pcMinWidth: 768px;
$spMaxWidth: 768px;
$pcMiddleWidth: 1300px;
$sp-xs-MaxWidth: 450px;
$sp-small-MaxWidth: 750px;
$sp-xxs-MaxWidth: 380px;
$color__border-button: #000;
$color__background-button: #000;
$color__border-button-hover: #000;
$color__border-button-focus: #000;
$color__text-input: #000;
$color__border-input: #000;
$color__text-input-focus: #000;
$color__border-input: #000;
$color__background-hr: #000;

@import "_buttons";
@import "_fields";
@import "_hr";
@import "_lists";
@import "_tables";
@import "_reset";
@import "_fonts";
