@font-face {
  font-family: 'Carter', sans-serif;
  src: url('../fonts/charter_bold_bt.ttf');
}

@font-face {
  font-family: 'Georgia', sans-serif;
  src: url('../fonts/georgia_bold.ttf');
}

$font_carter: 'Carter', sans-serif;
$font_georgia: 'Georgia', sans-serif;
$font_yugothic: 'Yu Gothic Bold','游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', 'open-sans', sans-serif;