#loader{
  &-bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    z-index: 999;
  }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
  line-height: $bodyLineHeight;
  letter-spacing: $bodyLetterSpacing;
  font-variant-ligatures: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: $main-color;
  position: relative;
  background-color: #fff;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
  color: #000000;
  text-decoration: none;
  transition: .5s;
  transition: .5s;
}

a:hover {
  opacity: .8;
  transition: .5s;
  transition: .5s
}

.d-fl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.isSp {
  display: block;
  @include mediaQueryPc() {
    display: none !important;
  }
}

.isPc {
  display: block;
  @include mediaQuerySp() {
    display: none !important;
  }
}

.inner {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.no-scroll {
  overflow: hidden;
}

.cmn-ttl {
  h2 {
    position: relative;
    color: #FF8205;
    font-family: $font_georgia;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 24px;
    @include mediaQuerySp(){
      font-size: 35px;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      width: 1px;
      height: 25px;
      background-color: #FF8205;
      @include mediaQuerySp() {
        bottom: 5px;
      }
    }
  }
}