.l {
  &-hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 30px 0px;
    z-index: 998;
    @include mediaQuerySp() {
      padding: 20px;
    }
    &-inn {
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      @include mediaQuerySp() {
        width: 100%;
      }
      &-logo {
        h1 {
          a {
            img {
              width: auto;
              height: 46px;
              @include mediaQuerySp() {
                height: 31.3px;
              }
            }
          }
        }
      }
      &-nav {
        &-fl {
          align-items: center;
          li {
            margin-right: 30px;
            &.hd-cart {
              margin-right: 0;
              @include mediaQuerySp() {
                margin-right: 15px;
              }
            }
            &:last-child {
              margin-right: 0px;
              a {
                @include mediaQuerySp() {
                  position: relative;
                  width: 40px;
                  height: 8px;
                  span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    transform: rotate(0deg) translate(0,0);
                    -webkit-transform: rotate(0deg) translate(0,0);
                    -moz-transform: rotate(0deg) translate(0,0);
                    -ms-transform: rotate(0deg) translate(0,0);
                    -o-transform: rotate(0deg) translate(0,0);
                    background-color: #000000;
                    &:last-child {
                      top: unset;
                      bottom: 0px;
                    }
                  }
                }
              }
              a.activenav {
                @include mediaQuerySp() {
                  span {
                    &:first-child {
                      transform: rotate( 45deg ) translateY(2px) translateX(3px);
                      -webkit-transform: rotate( 45deg ) translateY(2px) translateX(3px);
                      -moz-transform: rotate( 45deg ) translateY(2px) translateX(3px);
                      -ms-transform: rotate( 45deg ) translateY(2px) translateX(3px);
                      -o-transform: rotate( 45deg ) translateY(2px) translateX(3px);
                    }
                    &:last-child {
                      transform: rotate( -45deg ) translateY(-2px) translateX(3px);
                      -webkit-transform: rotate( -45deg ) translateY(-2px) translateX(3px);
                      -moz-transform: rotate( -45deg ) translateY(-2px) translateX(3px);
                      -ms-transform: rotate( -45deg ) translateY(-2px) translateX(3px);
                      -o-transform: rotate( -45deg ) translateY(-2px) translateX(3px);
                    }
                  }
                }
              }
            }
            a {
              display: inline-block;
              font-family: $font_carter;
              font-weight: bold;
              font-size: 16px;
              line-height: 21px;
              letter-spacing: 0.02em;
              img {
                width: auto;
                height: 16.21px;
                vertical-align: top;
                @include mediaQuerySp() {
                  height: 24.48px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.sp-menu {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0;
    z-index: 3;
}
  &-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 350px;
    height: 100vh;
    background: #ffffff;
    z-index: 4;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    align-items: center;
    justify-self: center;
    ul {
      width: 100%;
      li {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
        a {
          display: inline-block;
          font-family: $font_carter;
          font-weight: bold;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.02em;
        }
      }
    }
  }
}
.sp-menu.activespnav {
    .overlay {
      opacity: .5;
    }
    .sp-menu-nav {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
  }
}