.l {
  &-hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 30px 0px;
    z-index: 998;
    @include mediaQuerySp() {
      padding: 23px;
    }
    &-inn {
      justify-content: space-between;
      align-items: center;
      &-logo {
        h1 {
          a {
            img {
              width: auto;
              height: 46px;
              @include mediaQuerySp() {
                height: 31.3px;
              }
            }
          }
        }
      }
      &-nav {
        &-fl {
          align-items: center;
          li {
            margin-right: 30px;
            &:last-child {
              margin-right: 0px;
              a {
                @include mediaQuerySp() {
                  position: relative;
                  width: 46px;
                  height: 8px;
                  span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #000000;
                    &:last-child {
                      top: unset;
                      bottom: 0px;
                    }
                  }
                }
              }
            }
            a {
              display: inline-block;
              font-family: $font_carter;
              font-weight: bold;
              font-size: 16px;
              line-height: 21px;
              letter-spacing: 0.02em;
              img {
                width: auto;
                height: 16.21px;
                vertical-align: top;
                @include mediaQuerySp() {
                  height: 24.48px;
                }
              }
            }
          }
        }
      }
    }
  }
}